<!DOCTYPE html>
<html lang='en'>

<head> <!-- prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"> -->

    <!-- Social media stuff 
    <meta property="og:title" content="California Report Card"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ url_root }}/media/mobile/img/cafe/cafe-title-cropped.png" />
    <meta property="og:url" content="{{ url_root }}/" />
    <meta property="og:description" content="The California Report Card allows visitors to grade issues facing California and to suggest issues for future report cards." /> 

    <link rel="image_src" href="{{ url_root }}/media/mobile/img/cafe/cafe-title-cropped.png"/> -->

<!-- <title>{{client_settings.WELCOME_PAGE_TITLE}}</title> -->
<title>CS 169.1X Report Card</title>

<!-- for best viewing on mobile phones -->
<meta name='viewport' content='user-scalable=no, width=device-width,initial-scale=1, maximum-scale=1' />

<!-- CSS stylesheets -->
<link rel='stylesheet' type='text/css' href='{{url_root}}/media/mobile/css/reset.css?nonce={{random_password}}' />
<link rel='stylesheet' type='text/css' href='{{url_root}}/media/mobile/bootstrap/css/bootstrap-responsive.min.css?nonce={{random_password}}' />
<link rel='stylesheet' type='text/css' href='{{url_root}}/media/mobile/jquery-mobile/jquery.mobile-1.3.2.min.css' />
 <link rel='stylesheet' type='text/css' href='{{url_root}}/media/mobile/css/themes/cafe-jquery-new-v2.min.css'/> 
<link href="{{url_root}}/media/mobile/css/jquery.nouislider.min.css" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='{{url_root}}/media/mobile/css/opinionspace.css?nonce={{random_password}}' />

<!-- JavaScript -->
<script type='text/javascript' src='{{url_root}}/media/mobile/jquery-mobile/jquery-1.10.2.min.js'></script>
<script src="{{url_root}}/media/mobile/js/jquery.nouislider.min.js"></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/csrf-ajax.js'></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/d3.v2.min.js'></script>
<script src="{{url_root}}/media/mobile/js/d3-timeline.js"></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/blooms.js?nonce={{random_password}}'></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/rate.js?nonce={{random_password}}'></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/accounts.js?nonce={{random_password}}'></script>
<script type='text/javascript' src='{{url_root}}/media/mobile/js/utils.js'></script>

<script type='text/javascript' src='{{url_root}}/media/mobile/jquery-mobile/jquery.mobile-1.3.2.min.js'></script>

<!-- <script type="text/javascript" src="http://www.google.com/jsapi"></script> -->
<!-- <script type='text/javascript' src='{{url_root}}/media/mobile/js/analytics-trk.js'></script> -->


<!--JavaScript that needs to be run on init-->
<script type='text/javascript'>
  window.url_root = '{{ url_root }}';

  window.sliders = [];

  window.skipped = [];

  window.email_saved = false;

  window.prev_state = 'home';

  window.cur_state = 'home';

  window.toggle_flag1 = false;

  window.toggle_flag2 = false;

  window.entry_code = {{ entry_code }} ;

  window.registration_in_progress = false;

  window.landing = true;

  window.num_sliders = {{ statements|length }};

  window.refer = '{{ refer }}';

  window.user_score = {{init_score}};

  window.conf = { 'SCORE_SCALE_FACTOR'  : 100.0,
                  'YOUR_SCORE_LANGUAGE' : "Your Score",
                  'INSTRUCTIONS_3'      : "{{ client_settings.INSTRUCTIONS_3 }}",
                  'FUN_COLORS'          : {{ client_settings.FUN_COLORS }},
                  'RETURN_USER_FIRST_TIME': {{return_user_first_time}},
                  'ZIPCODE': {{ zipcode }},
                };




 jQuery(document).ready(function(){
   for (var i = 0; i <= window.num_sliders; i++) {
     window.sliders[i] = 50;
     window.skipped[i] = false;
     $(".endslider-slider"+(i+1)).noUiSlider({
       range: [0, 100],
       start: window.sliders[i] ,
       step: 5,
       handles: 1,
       connect: false,
       behaviour: "none",
       slide: function() {
       var id = $(this).data('statement');
       $('#g' + id).html( score_to_grade( $(this).val() ) );
       }
     }).change(function () {
      var id = $(this).attr('id');
      id = parseInt(id.substring(1, id.length)); // strips the leading 's'
      update_score(id);
     });
   }

  $(".rating-slider").noUiSlider({
    range: [0, 100], start: 50, step: 5, handles: 1,connect: false, behaviour: "none"
  });
  
  /*var html_label ="<div class='slider-range-labels'><div class='alignleft'>{{client_settings.SLIDER1_LEFT}}</div><div class='alignright'>{{client_settings.SLIDER1_RIGHT}}</div></div>";
  $('.rating-slider1 > .noUi-base').append( html_label );
  
  var html_label ="<div class='slider-range-labels'><div class='alignleft'>{{client_settings.SLIDER2_LEFT}}</div><div class='alignright'>{{client_settings.SLIDER2_RIGHT}}</div></div>";
  $('.rating-slider2 > .noUi-base').append( html_label );*/
  
  $(".change-rating-slider").noUiSlider({
    range: [0, 100], start: 50, step: 5, handles: 1,connect: false, behaviour: "none"
  });

  // give the statement sliders some color
  var _grades = {'A' : 5, 'B' : 25, 'C': 50, 'D': 75, 'F' : 96 };
  $.map( _grades, function(position, letter) {
    var span = '<span class="grade-labels" style="left:'+position+'%;">'+letter+'</span>';
    $('.statement-slider > .noUi-base').append( span );
    $('.rating-slider > .noUi-base').append( span );
  });


 /* var _grades = {'1' : 30, '2' : 40, '3': 50, '4': 60, '5': 70};
  $.map( _grades, function(position, letter) {
    var span = '<span class="rate-dot-labels" style="left:'+position+'%;">.</span>';
    $('.rating-slider > .noUi-base').append( span );
  });*/

 });

 /*stats.setConf("{{ client_settings.AGREEMENT_HISTOGRAM_TEXT }}",
               "{{ client_settings.LEGEND_AGREEMENT_LEFT }}",
               "{{ client_settings.LEGEND_AGREEMENT_RIGHT }}",
               "{{ client_settings.INSIGHT_HISTOGRAM_TEXT }}",
               "{{ client_settings.LEGEND_INSIGHT_LEFT }}",
               "{{ client_settings.LEGEND_INSIGHT_RIGHT }}"
              );*/

 var finishedStatements=[];

 for(var l = 0; l < window.num_sliders; l++) {
    finishedStatements.push(0);
 }

 var medians = {{ medians|safe }};

 function score_to_grade(score1) {
    var score = 100 - score1;
  
    if (score == 100)
        return 'A+';
    else if (score > 92)
        return 'A';
    else if (score > 86)
        return 'A-';
    else if (score > 81)
        return 'B+';
    else if (score > 69 )
        return 'B';
    else if (score > 63 )
        return 'B-';
    else if (score > 56 )
        return 'C+';
    else if (score > 44 )
        return 'C';
    else if (score > 38 )
        return 'C-';
    else if (score > 32 )
        return 'D+';
    else if (score > 19 )
        return 'D';
    else if (score == 0 )
        return 'F';
    else
        return 'D-';
 }

 function statementsComplete() {
  for(var i = 0; i < window.num_sliders; i++) {
    if (finishedStatements[i]==0) {
      return false;
    }
  }
  return true;
 }

    /** Updates statement number STATEMENT (which is of type number). */
 function update_score(statement) {
   $('#g' + statement).css('opacity', 1);
   console.log(medians[statement]);
   $('#o' + statement).html(score_to_grade(medians[statement]*100))
   window.sliders[statement] = $('#s' + statement).val();
   document.getElementById('tr'+statement).style.backgroundColor = "rgba(255, 255, 0, 0.8)";
   finishedStatements[statement-1]= 1;
   rate.logUserEvent(11,'slider_set ' + statement + ' ' + window.sliders[statement]/100);
}

</script>

    <meta name="google-translate-customization" content="eafde824bc8e224d-e21501ea7ec3fcff-g772450b68a5f36d7-1d"></meta>

</head>

<body>

  <div class='landing'>

      <div class="home-btn-dialog-box landing-navigation" style="display: none;">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
      </div>

      <center>
          <img src="{{url_root}}/media/mobile/img/cafe/cafe-title-cropped.png" style="padding-top: 5px;border: none;width: 250px;" />
          <div style="color: #FFFFFF; position: relative; top:-170px;font-size:24px;font-family: cursive; ">CS 169.1X<br/>Report Card</div>
      </center>

    <div class="responsive-max-width">
        <div class='landing-desc'>

            <div style="clear: both;"></div>

            <div>
                <div class="landing-img-txt">
                        <div style="width: 140px;line-height: 24px;">
                            <button type='submit' data-theme='a' class='first-time-btn'><font style="font-size: 14px;">BEGIN</font></button>
                        </div>
                    Take a moment to join {{num_users}} others who have graded the CS 169.1X Course.<br/>
                    <a href="#" class="help-btn-dialog" style="font-size: 15px;color: #4e300f;">About</a>
                    <!--{{client_settings.WELCOME_PAGE_TEXT1}}-->
                </div>
                <div class="landing-img-div"><img src="{{url_root}}/media/mobile/img/cafe/spoon-and-pencil-draft.png" style="width: 83px;"/></div>
            </div>
        </div>
    </div>

      <center>
      <!--<div class="landing-disclaimer">
          {{client_settings.WELCOME_PAGE_TEXT2}}.<br/>
          Developed by the CITRIS Data & Democracy Initiative and the Office of the Lt. Gov of California.<br>
      </div>-->
      </center>

  </div>

  <div id='rating' class='endsliders'>

      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>

      <div class="basic-header">{{client_settings.REPORT_CARD_HEADER}}</div>

      <center>
        <div class="rc-sub-header">
            Adjust the sliders to grade the follows aspects of the course:
        </div>
      </center>

      <div class='reportcard default-left-padding responsive-max-width'>


          <center>

              <table class='cardtable title-table'>
                  <tr>

                      <td class="title-table-label1">
                          Subject
                      </td>

                      <td class="title-table-label2">
                          My<br/>Grade
                      </td>

                      <td class="title-table-label2">
                          <a href="#" onclick="$('.endsliders').hide();$('.dialog-avggrade').show();window.prev_state='grade';window.cur_state='median';" style="color: #f5ebdf !important;">Median Grade</a>
                      </td>

                  </tr>
              </table>

              <div style="height: 7px;"></div>

              {% for statement in statements %}
              <table class='cardtable grade-table'>
                  <tr id="tr{{statement.id}}">
                      <td style="height: 60px;background-color:#f5ebdf;" id="tr-label{{statement.id}}">
                          {% ifnotequal statement.statement '' %}
                          <div class='slider-question'>
                              <!--<script>var sid={{statement.id}}-1;var total={{statements|length}};document.write(total-sid);</script>-->
                              {{statement.id}}. {{ statement.statement }}
                          </div>
                          {% else %}
                          {% endifnotequal %}
                      </td>

                      <td class="title-table-label2" style="background-color:#f5ebdf;" id="tr-1grade{{statement.id}}">
                          <div id='g{{statement.id}}' class="grade"></div>
                      </td>

                      <td class="title-table-label2" style="background-color:#f5ebdf;" id="tr-2grade{{statement.id}}">
                          <div id='o{{statement.id}}' class="grade2"></div>
                      </td>

                  </tr>

                  <tr id="tr-slider{{statement.id}}">
                      <td colspan="3" class="slider-row" style="border: none;">
                          {% ifnotequal statement.statement '' %}
                          <div id="s{{statement.id}}" data-statement="{{statement.id}}" class="endslider-slider{{statement.id}} statement-slider" style=""></div>
                          {% else %}
                          <div style='display:none;'>
                              <br><div id="s{{statement.id}}" data-statement="{{statement.id}}"  class="endslider-slider"></div>
                          </div>
                          {% endifnotequal %}
                      </td>
                  </tr>
              </table>

              <img src="{{url_root}}/media/mobile/img/cafe/skip_line.png" style="padding-top: 17px;"/><br/>
              <img class="skip-img-btn" id="skip-img{{statement.id}}" src="{{url_root}}/media/mobile/img/cafe/skip.png" style="position:relative;top: -12px;width: 50px;left: 4px;" onclick="accounts.skipStatement({{statement.id}});"> <br/><br/>

              {% endfor %}

              <div class="standard-btn-div">
                  <button type='submit' data-theme='b' class='done-endsliders-btn' ><font style="font-size: 16px;">{{client_settings.REPORT_CARD_NEXT_BUTTON}}</font></button>
              </div>

          </center>
      </div>
  </div>

  <div class = 'register' id='register'>
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>

      <div class= 'registerpanel responsive-max-width' style="max-width: 90%;">
          <div class="basic-header2" style="width: 100%">A Few Questions</div>

          <form id='reg_form' class='form-horizontal' method='post' action='{{ url_root }}/accountsjson/register/'>
              <center>
<div data-role="fieldcontain">
  <label for="regcountry" class='regforminput'>Country of Current Residence:</label>
              <select name="regcountry" id="regcountry">
                  <option value="USA">United States</option>
  <option value="AFG">Afghanistan</option>
  <option value="ALA">Åland Islands</option>
  <option value="ALB">Albania</option>
  <option value="DZA">Algeria</option>
  <option value="ASM">American Samoa</option>
  <option value="AND">Andorra</option>
  <option value="AGO">Angola</option>
  <option value="AIA">Anguilla</option>
  <option value="ATA">Antarctica</option>
  <option value="ATG">Antigua and Barbuda</option>
  <option value="ARG">Argentina</option>
  <option value="ARM">Armenia</option>
  <option value="ABW">Aruba</option>
  <option value="AUS">Australia</option>
  <option value="AUT">Austria</option>
  <option value="AZE">Azerbaijan</option>
  <option value="BHS">Bahamas</option>
  <option value="BHR">Bahrain</option>
  <option value="BGD">Bangladesh</option>
  <option value="BRB">Barbados</option>
  <option value="BLR">Belarus</option>
  <option value="BEL">Belgium</option>
  <option value="BLZ">Belize</option>
  <option value="BEN">Benin</option>
  <option value="BMU">Bermuda</option>
  <option value="BTN">Bhutan</option>
  <option value="BOL">Bolivia, Plurinational State of</option>
  <option value="BES">Bonaire, Sint Eustatius and Saba</option>
  <option value="BIH">Bosnia and Herzegovina</option>
  <option value="BWA">Botswana</option>
  <option value="BVT">Bouvet Island</option>
  <option value="BRA">Brazil</option>
  <option value="IOT">British Indian Ocean Territory</option>
  <option value="BRN">Brunei Darussalam</option>
  <option value="BGR">Bulgaria</option>
  <option value="BFA">Burkina Faso</option>
  <option value="BDI">Burundi</option>
  <option value="KHM">Cambodia</option>
  <option value="CMR">Cameroon</option>
  <option value="CAN">Canada</option>
  <option value="CPV">Cape Verde</option>
  <option value="CYM">Cayman Islands</option>
  <option value="CAF">Central African Republic</option>
  <option value="TCD">Chad</option>
  <option value="CHL">Chile</option>
  <option value="CHN">China</option>
  <option value="CXR">Christmas Island</option>
  <option value="CCK">Cocos (Keeling) Islands</option>
  <option value="COL">Colombia</option>
  <option value="COM">Comoros</option>
  <option value="COG">Congo</option>
  <option value="COD">Congo, the Democratic Republic of the</option>
  <option value="COK">Cook Islands</option>
  <option value="CRI">Costa Rica</option>
  <option value="CIV">Côte d'Ivoire</option>
  <option value="HRV">Croatia</option>
  <option value="CUB">Cuba</option>
  <option value="CUW">Curaçao</option>
  <option value="CYP">Cyprus</option>
  <option value="CZE">Czech Republic</option>
  <option value="DNK">Denmark</option>
  <option value="DJI">Djibouti</option>
  <option value="DMA">Dominica</option>
  <option value="DOM">Dominican Republic</option>
  <option value="ECU">Ecuador</option>
  <option value="EGY">Egypt</option>
  <option value="SLV">El Salvador</option>
  <option value="GNQ">Equatorial Guinea</option>
  <option value="ERI">Eritrea</option>
  <option value="EST">Estonia</option>
  <option value="ETH">Ethiopia</option>
  <option value="FLK">Falkland Islands (Malvinas)</option>
  <option value="FRO">Faroe Islands</option>
  <option value="FJI">Fiji</option>
  <option value="FIN">Finland</option>
  <option value="FRA">France</option>
  <option value="GUF">French Guiana</option>
  <option value="PYF">French Polynesia</option>
  <option value="ATF">French Southern Territories</option>
  <option value="GAB">Gabon</option>
  <option value="GMB">Gambia</option>
  <option value="GEO">Georgia</option>
  <option value="DEU">Germany</option>
  <option value="GHA">Ghana</option>
  <option value="GIB">Gibraltar</option>
  <option value="GRC">Greece</option>
  <option value="GRL">Greenland</option>
  <option value="GRD">Grenada</option>
  <option value="GLP">Guadeloupe</option>
  <option value="GUM">Guam</option>
  <option value="GTM">Guatemala</option>
  <option value="GGY">Guernsey</option>
  <option value="GIN">Guinea</option>
  <option value="GNB">Guinea-Bissau</option>
  <option value="GUY">Guyana</option>
  <option value="HTI">Haiti</option>
  <option value="HMD">Heard Island and McDonald Islands</option>
  <option value="VAT">Holy See (Vatican City State)</option>
  <option value="HND">Honduras</option>
  <option value="HKG">Hong Kong</option>
  <option value="HUN">Hungary</option>
  <option value="ISL">Iceland</option>
  <option value="IND">India</option>
  <option value="IDN">Indonesia</option>
  <option value="IRN">Iran, Islamic Republic of</option>
  <option value="IRQ">Iraq</option>
  <option value="IRL">Ireland</option>
  <option value="IMN">Isle of Man</option>
  <option value="ISR">Israel</option>
  <option value="ITA">Italy</option>
  <option value="JAM">Jamaica</option>
  <option value="JPN">Japan</option>
  <option value="JEY">Jersey</option>
  <option value="JOR">Jordan</option>
  <option value="KAZ">Kazakhstan</option>
  <option value="KEN">Kenya</option>
  <option value="KIR">Kiribati</option>
  <option value="PRK">Korea, Democratic People's Republic of</option>
  <option value="KOR">Korea, Republic of</option>
  <option value="KWT">Kuwait</option>
  <option value="KGZ">Kyrgyzstan</option>
  <option value="LAO">Lao People's Democratic Republic</option>
  <option value="LVA">Latvia</option>
  <option value="LBN">Lebanon</option>
  <option value="LSO">Lesotho</option>
  <option value="LBR">Liberia</option>
  <option value="LBY">Libya</option>
  <option value="LIE">Liechtenstein</option>
  <option value="LTU">Lithuania</option>
  <option value="LUX">Luxembourg</option>
  <option value="MAC">Macao</option>
  <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
  <option value="MDG">Madagascar</option>
  <option value="MWI">Malawi</option>
  <option value="MYS">Malaysia</option>
  <option value="MDV">Maldives</option>
  <option value="MLI">Mali</option>
  <option value="MLT">Malta</option>
  <option value="MHL">Marshall Islands</option>
  <option value="MTQ">Martinique</option>
  <option value="MRT">Mauritania</option>
  <option value="MUS">Mauritius</option>
  <option value="MYT">Mayotte</option>
  <option value="MEX">Mexico</option>
  <option value="FSM">Micronesia, Federated States of</option>
  <option value="MDA">Moldova, Republic of</option>
  <option value="MCO">Monaco</option>
  <option value="MNG">Mongolia</option>
  <option value="MNE">Montenegro</option>
  <option value="MSR">Montserrat</option>
  <option value="MAR">Morocco</option>
  <option value="MOZ">Mozambique</option>
  <option value="MMR">Myanmar</option>
  <option value="NAM">Namibia</option>
  <option value="NRU">Nauru</option>
  <option value="NPL">Nepal</option>
  <option value="NLD">Netherlands</option>
  <option value="NCL">New Caledonia</option>
  <option value="NZL">New Zealand</option>
  <option value="NIC">Nicaragua</option>
  <option value="NER">Niger</option>
  <option value="NGA">Nigeria</option>
  <option value="NIU">Niue</option>
  <option value="NFK">Norfolk Island</option>
  <option value="MNP">Northern Mariana Islands</option>
  <option value="NOR">Norway</option>
  <option value="OMN">Oman</option>
  <option value="PAK">Pakistan</option>
  <option value="PLW">Palau</option>
  <option value="PSE">Palestinian Territory, Occupied</option>
  <option value="PAN">Panama</option>
  <option value="PNG">Papua New Guinea</option>
  <option value="PRY">Paraguay</option>
  <option value="PER">Peru</option>
  <option value="PHL">Philippines</option>
  <option value="PCN">Pitcairn</option>
  <option value="POL">Poland</option>
  <option value="PRT">Portugal</option>
  <option value="PRI">Puerto Rico</option>
  <option value="QAT">Qatar</option>
  <option value="REU">Réunion</option>
  <option value="ROU">Romania</option>
  <option value="RUS">Russian Federation</option>
  <option value="RWA">Rwanda</option>
  <option value="BLM">Saint Barthélemy</option>
  <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
  <option value="KNA">Saint Kitts and Nevis</option>
  <option value="LCA">Saint Lucia</option>
  <option value="MAF">Saint Martin (French part)</option>
  <option value="SPM">Saint Pierre and Miquelon</option>
  <option value="VCT">Saint Vincent and the Grenadines</option>
  <option value="WSM">Samoa</option>
  <option value="SMR">San Marino</option>
  <option value="STP">Sao Tome and Principe</option>
  <option value="SAU">Saudi Arabia</option>
  <option value="SEN">Senegal</option>
  <option value="SRB">Serbia</option>
  <option value="SYC">Seychelles</option>
  <option value="SLE">Sierra Leone</option>
  <option value="SGP">Singapore</option>
  <option value="SXM">Sint Maarten (Dutch part)</option>
  <option value="SVK">Slovakia</option>
  <option value="SVN">Slovenia</option>
  <option value="SLB">Solomon Islands</option>
  <option value="SOM">Somalia</option>
  <option value="ZAF">South Africa</option>
  <option value="SGS">South Georgia and the South Sandwich Islands</option>
  <option value="SSD">South Sudan</option>
  <option value="ESP">Spain</option>
  <option value="LKA">Sri Lanka</option>
  <option value="SDN">Sudan</option>
  <option value="SUR">Suriname</option>
  <option value="SJM">Svalbard and Jan Mayen</option>
  <option value="SWZ">Swaziland</option>
  <option value="SWE">Sweden</option>
  <option value="CHE">Switzerland</option>
  <option value="SYR">Syrian Arab Republic</option>
  <option value="TWN">Taiwan</option>
  <option value="TJK">Tajikistan</option>
  <option value="TZA">Tanzania, United Republic of</option>
  <option value="THA">Thailand</option>
  <option value="TLS">Timor-Leste</option>
  <option value="TGO">Togo</option>
  <option value="TKL">Tokelau</option>
  <option value="TON">Tonga</option>
  <option value="TTO">Trinidad and Tobago</option>
  <option value="TUN">Tunisia</option>
  <option value="TUR">Turkey</option>
  <option value="TKM">Turkmenistan</option>
  <option value="TCA">Turks and Caicos Islands</option>
  <option value="TUV">Tuvalu</option>
  <option value="UGA">Uganda</option>
  <option value="UKR">Ukraine</option>
  <option value="ARE">United Arab Emirates</option>
  <option value="GBR">United Kingdom</option>
  <option value="UMI">United States Minor Outlying Islands</option>
  <option value="URY">Uruguay</option>
  <option value="UZB">Uzbekistan</option>
  <option value="VUT">Vanuatu</option>
  <option value="VEN">Venezuela, Bolivarian Republic of</option>
  <option value="VNM">Viet Nam</option>
  <option value="VGB">Virgin Islands, British</option>
  <option value="VIR">Virgin Islands, U.S.</option>
  <option value="WLF">Wallis and Futuna</option>
  <option value="ESH">Western Sahara</option>
  <option value="YEM">Yemen</option>
  <option value="ZMB">Zambia</option>
  <option value="ZWE">Zimbabwe</option>
</select>
</div>

<div data-role="fieldcontain">
  <label for="reggender" class='regforminput'>Gender:</label>
              <select name="reggender" id="reggender">
                  <option value="f">Female</option>
                  <option value="m">Male</option>
                </select>
              </div>

              <div data-role="fieldcontain">
                <label for="regage" class='regforminput'>Age:</label>
                  <input type ='tel' id='regage' name='regage' class='regforminput' value="" placeholder="Age">
                  <div class='alert-error' id='age-error' style='display:none;'></div>
              </div>

              <div data-role="fieldcontain">
              <label for="regtrain" class='regforminput'>Prior Years of College-Level Training:</label>
              <select name="regtrain" id="regtrain">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                </select>
              </div>

                <div data-role="fieldcontain">
                  <label for="regreason" class='regforminput'>Primary reason for taking this course:</label>
                  <textarea id='regreason' name='regreason' style="height: 80px !important;" value='' data-theme='b'/></textarea>
                  <div class='alert-error' id='reason-error' style='display:none;'></div>
              </div>

              <div data-role="fieldcontain">
                  <label for="regusername" class='regforminput'>Email:</label>
                  <input type="text" id='regusername' name='regusername' class='regforminput' value='' placeholder="Email" data-theme='b'/>
                  <div class='alert-error' id='username-error' style='display:none;'></div>
              </div>




              <!--These are hidden dummy attributes for book-keeping-->
              <input type='hidden' value='{{ topic }}' name='question'>
              <input type='hidden' value='{{ url_root }}' name='url'>

              <div data-role="fieldcontain" style="display: none;">
                  <input type ='tel' id='regzip' name='regzip' class='regforminput' value="00000" placeholder="Zip Code" onblur="$('#reg_form').submit();">
                  <div class='alert-error' id='zipcode-error' style='display:none;'></div>
              </div>

              <div data-role="fieldcontain" style='display:none;'>
                  <label for="regpassword1" class='regforminput' style="display: none;">Password:</label>
                  <input type ='hidden' id='regpassword1' name='regpassword1' class='regforminput' value='{{ random_password }}' placeholder="Password">
                  <div class='alert-error' id='password-error'></div>
              </div>


                  <div class="standard-btn-div" onclick="document.getElementById('registerb').focus();">
                      <button type='submit' data-theme='b' id="registerb"><font style="font-size: 16px;">{{client_settings.ZIP_CODE_BUTTON}}</font></button>
                  </div>
              </center>
          </form>
      </div>
  </div>

  <div class='dialog dialog-style'>
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <img class="header-img-topic center" src="{{ url_root }}/media/mobile/img/cafe/CRC_join.png"/>

      <div class='dialog-text1 dialog-text-style default-left-padding'>
          {{ client_settings.DISCUSSION_DIALOG_TEXT1 }}
          <center>
              <div class="standard-btn-div" style="padding-top:10px;">
                  <button type='submit' data-theme='b' class='dialog-ready' ><font style="font-size: 16px;">Enter</font></button>
                  <!--<button type='submit' data-theme='b' class='dialog-next'  onclick="$('.dialog-text1').hide();$('.dialog-text2').show();"><font style="font-size: 16px;">Next</font></button>-->
              </div>
          </center>
      </div>
  </div>

  <div class='comment-input'>
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
          &nbsp;
          <img width="30px;" class='logout-btn' src="{{url_root}}/media/mobile/img/cafe/CRC_logout_bttn.png">
      </div>

      <center>
          <div class='comment-panel'>
              <div class="basic-sub-sub-header" style="text-align:left;">{{topic}}<br/></div>
              <textarea name='answer' id='entered-comment'></textarea>
              <div class="standard-btn-div">
                  <button type='submit' data-theme='b' class='comment-submit-btn'><font style="font-size: 16px;">Post</font></button>
                  <button type='submit' data-theme='b' class='comment-cancel-btn'><font style="font-size: 16px;">Later</font></button>
              </div>
          </div>
      </center>
  </div>

  <div class="top-bar">
    <center>
        <div class='menubar'>
            <div class="scorebox">
                <span class='score-label'></span><span class='score-value'></span>
            </div>

            <div style="letter-spacing: 2px;padding-top: 5px;">
                <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
                &nbsp;
                <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
                 &nbsp;
                 <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
                &nbsp;
                <img width="30px;" class='logout-btn' src="{{url_root}}/media/mobile/img/cafe/CRC_logout_bttn.png">
            </div>

            <span class="stats-wrapper" style="display: none;">&nbsp;<img width="30px;" class='my-comment-btn' src="{{url_root}}/media/mobile/img/cafe/CRC_stats_bttn.png"></span>
            <div class='instructions'>{{client_settings.INSTRUCTIONS_1}}</div>
            <div class='instructions2'>{{client_settings.INSTRUCTIONS_2}}</div>
            <div class='instructions3'><div style="padding-right: 5px; padding-left: 5px;">{{client_settings.INSTRUCTIONS_3}}</div></div>
        </div>
    </center>
  </div>


  <div class="margin"></div>

  <div class='rate'>

      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>

    <center>
       <textarea id='commentInput' class='answer' readonly="true"></textarea>
       <span class="rate-username"></span>
    </center>


    <div id="flag" class="flag-style"></div>

    <div class="answerwrapper default-left-padding">

        <div class="comment-admin-text">
            <a href="#" class="comment-admin-text-a" onclick="rate.doneRatingNoSave();">Skip</a>&nbsp;&nbsp;
            <a href="#" class="comment-admin-text-a" id="flag1">Inappropriate</a>
        </div>

     <div class='sliders'>
         How important is this idea to you?<br/>

        <div class="slider-padding"></div>

        <div id="slider1" class="rating-slider rating-slider1"></div><br/>

         How would you rate this MOOC on this idea today?<br/>

        <div class="slider-padding"></div>

        <div id="slider2" class="rating-slider rating-slider2"></div><br/>

        <center>
          <div class="standard-btn-div">
            <button type='submit' data-theme='b' id='go-back'><font style="font-size: 16px;">Next</font></button>
          </div>
        </center>

        <!--begin gtranslate-->
        <!--
        <div id="google_translate_element"></div>
        <script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true, gaTrack: true, gaId: 'UA-34341740-14'}, 'google_translate_element');
        }
        </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>-->
        <!--end gtranslate-->

      </div>

    </div>

  </div>

  <div id='d3' class="d3-canvas"></div>
  <div class='frame'></div>

  <div class='logout'>
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='logout-start-over' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>

        <div class='default-left-padding' style="width: 95%;font-size: 20px;line-height: 23px;padding-top: 10px; text-shadow: none;">
            {{client_settings.LOGOUT_DIALOG_TEXT}}<br/><br/>
        </div>
    </div>

  <div class='welcome-back'>
     <div class='landing-intro default-left-padding'>
        <div class='landing-header'>
            CS 169.1X<br/>Report Card
        </div>
     </div>

    <div class='landing-desc default-left-padding'>
        <center>
            <div class="standard-btn-div">
                <button type='submit' data-theme='b' id='regrade-btn' ><font style="font-size: 16px;">Change grades</font></button>
                <button type='cancel' data-theme='b' id='garden-btn' ><font style="font-size: 16px;">Rate more ideas</font></button>
            </div>
        </center>
        <div class="comment-admin-text">
            <a class="comment-admin-text-a" href="#" onclick="$('.dialog-about').show();$('.welcome-back').hide();window.landing=false;" target="_blank">About</a>
        </div>
    </div>

  </div>

  <div class='dialog-score dialog-style'>

      <div class="home-btn-dialog-box">
          <button data-theme='b' class='home-btn-dialog'><img width="30px;" src="{{url_root}}/media/mobile/img/cafe/home-icon.png"></button>
      </div>

    <div class='dialog-text-notitle default-left-padding'>
        <div class="scorebox-fake">
          {{client_settings.YOUR_SCORE_LANGUAGE}} is 100
        </div>

        <br/>
        {{client_settings.SCORE_DIALOG_TEXT}}

      <center>
        <div class="standard-btn-div">
            <button type='submit' data-theme='b' class='dialog-score-ready' ><font style="font-size: 16px;">Next</font></button>
        </div>
      </center>
    </div>
  </div>

  <div class='dialog-yourmug dialog-style'>

      <div class="home-btn-dialog-box">
          <button data-theme='b' class='home-btn-dialog'><img width="30px;" src="{{url_root}}/media/mobile/img/cafe/home-icon.png"></button>
      </div>

    <div class='dialog-text-style default-left-padding'>
        <div class="basic-header" style="width:100%;">Your Mug</div>
        <img class="header-img-topic center" src="{{ url_root }}/media/mobile/img/cafe/map_teaser.png"><br>

        To enter your own idea, click on your mug (highlighted in yellow).

      <center>
        <div class="standard-btn-div">
            <button type='submit' data-theme='b' class='dialog-yourmug-ready' ><font style="font-size: 16px;">Next</font></button>
        </div>
      </center>

    </div>
  </div>

  <div class='dialog-continue dialog-style'>
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
          <span class="logout-wrapper">&nbsp;<img width="30px;" class='logout-btn' src="{{url_root}}/media/mobile/img/cafe/CRC_logout_bttn.png"></span>
      </div>

    <div class='dialog-text-style default-left-padding'>
        <div class="basic-header" style="width:100%;">{{client_settings.RESPONSE_SAVED_HEADER}}</div>
        {{client_settings.EMAIL_ASK_TEXT}}
        <input type="email" id='regemail' name='regemail' class='regforminput' style="font-size: 15px; background-color: #FFFFFF;color: #000000;" placeholder="Email" data-theme='b'></input>
        <div class="comment-admin-text-b">Your email address will not be displayed and we promise not to share your email address with any third parties.</div>
        <center>
            <div class="standard-btn-div">
                <button type='submit' data-theme='b' class='dialog-continue-ready' ><font style="font-size: 16px;">Enter</font></button>
            </div>
            <div class='alert-error' id='email-error' style='display:none;width: 250px;'></div>
        </center>

    </div>
  </div>

 <div class='dialog-email dialog-style'>
     <div class="home-btn-dialog-box">
         <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
         &nbsp;
         <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
         &nbsp;
         <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
         &nbsp;
         <img width="30px;" class='logout-btn' src="{{url_root}}/media/mobile/img/cafe/CRC_logout_bttn.png">
     </div>

     <div class='landing-img-txt default-left-padding' style="width: 95%;font-size: 20px;line-height: 23px;padding-top: 10px;">
         Thank you!  Logout now or grade more mugs.
         <div class="standard-btn-div" style="max-width: 250px !important;">
             <button type='submit' data-theme='b' class='dialog-email-ready' ><font style="font-size: 16px;">Continue Grading</font></button>
         </div>
         Please tell your friends and colleagues:<br/>
         <a href="http://californiareportcard.org" target="_blank" style="color: #4e300f;">http://californiareportcard.org</a><br/><br/>
         Twitter: <a href="http://twitter.com/home?status=How%20do%20you%20grade%20California?%20%20Try%20@CAReportCard%20developed%20by%20@Cal%20@GavinNewsom%20%26%20@Ken_Goldberg%20%20http://californiareportcard.org/mobile%20%23CA%20%23Gov" target="_blank" style="color: #4e300f;">@CAReportCard</a><br/>
         Facebook: <a href="http://on.fb.me/1jF60JL" target="_blank" style="color: #4e300f;">CAReportCard</a><br/><br/>
     </div>
  </div>

  <div class='dialog-avggrade dialog-style'>
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>

    <div class='dialog-text-style default-left-padding'>
      <div class="basic-header" style="width:100%;">{{client_settings.AVG_EXPLAIN_HEADER}}</div>
     <center>
      <img src="{{ url_root }}/media/mobile/img/cafe/avggrade.png" class="center" style="width:300px;padding-top:3px;"><br>
     </center>
        Based on the grades from {{num_users}} participants so far, {{client_settings.AVG_EXPLAIN_TEXT}}
    </div>
  </div>

  <div class='dialog-about dialog-style' style="z-index:999">
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">{{client_settings.ABOUT_PAGE_HEADER}}</div>
	  <center>{{num_users}} participants so far.</center><br/>
	  {% autoescape off %}{{client_settings.ABOUT_PAGE_TEXT }}{% endautoescape %}
      </div>
  </div>

  <div class='dialog-help-alt dialog-style' style="z-index:999">
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">Help</div>
          To learn more about this project, its history, related projects, and the team that built it, visit <a href="http://californiareportcard.org/" target="_blank" style="color: #4e300f;">californiareportcard.org</a>.<br/>
      </div>
  </div>

  <div class='dialog-help-grade dialog-style' style="z-index:999">
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">Help</div>
          The CRC allows visitors to grade different aspects of this MOOC.
          Drag the slider handles to assign grades (click the skip button for issues where you don't want to assign a grade.)
          <br/><br/>

          <table class="pretty">
          <tr><td><strong>Letter Grade</strong></td><td><strong>Letter Grade Meaning</strong></td></tr>
<tr><td>A+  </td><td>13 (Very Good)</td></tr>
<tr><td>A </td><td>12</td></tr>
<tr><td>A-  </td><td>11</td></tr>
<tr><td>B+  </td><td>10</td></tr>
<tr><td>B </td><td>9</td></tr>
<tr><td>B-  </td><td>8</td></tr>
<tr><td>C+  </td><td>7 (Fair)</td></tr>
<tr><td>C </td><td>6</td></tr>
<tr><td>C-  </td><td>5</td></tr>
<tr><td>D+ </td><td> 4</td></tr>
<tr><td>D </td><td>3</td></tr>
<tr><td>D-  </td><td>2</td></tr>
<tr><td>F </td><td>1 (Very Bad)</td></tr>
</table>
<br/>  
          <em>Q:</em> Do I have to grade all issues?<br/>
          <em>A:</em> No, just click the skip button for issues where you don't want to assign a grade.<br/><br/>

          <em>Q:</em> Why do the sliders require dragging?  If I tap on A, it should go there.<br/>
          <em>A:</em> We decided to remove the tap feature since as you slide down to see more issues you may accidentally tap the sliders.<br/><br/>
      </div>
  </div>

  <div class='dialog-help-median dialog-style' style="z-index:999">
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">Help</div>
          <em>Q:</em>  After I enter each grade, the Median Grade based on input from all previous participants is revealed.
          Then I can change my grade: Won’t this bias me and other participants?<br/>

          <em>A:</em> Revealing the Median values is intended to provide instant feedback in contrast to traditional polls and surveys. We realize this may have a biasing effect:
          some may adjust their grade to be closer to the average resulting in a form of regression toward the mean. We believe this will be rare, but track all of the intermediate grades.
      </div>
  </div>

  <div class='dialog-help-zipcode dialog-style' style="z-index:999">
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">Help</div>
          <em>Q:</em> Why do I need to answer these questions?<br/>
          <em>A:</em> You only need to answer these questions once, and they will allow us to better understand the demographics of this MOOC. We promise to keep your email private, and we will not share it with third parties.
      </div>
  </div>

  <div class='dialog-help-dialog dialog-style' style="z-index:999">
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">Help</div>
          You are invited to enter an online “cafe” where you can propose specifics way in which this course be enhanced.
          You’ll be asked to grade other participants’ suggestions. Each participant’s suggestion is represented by a mug on the table.
      </div>
  </div>

  <div class='dialog-help-map1 dialog-style' style="z-index:999">
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">Help</div>
          <em>Q:</em> What should I do on this page?<br/>
          <em>A:</em> Click any mug (each participant has a mug, we display only 8 at a time)<br/><br/>

          <em>Q:</em> How are the mugs arranged on the table?<br/>
          <em>A:</em> The placement of each participant's mug is based on how he or she graded the first 5 questions.
          Think of each issue as one dimension of a 6-dimensional space.
          The grades you assign define a point in this space.
          We use dimensionality reduction (currently Principal Component Analysis) to project that space onto the table.
          If you and another participant assigned very similar grades, your mugs will be close together.
          Mugs that are distant from yours belong to participants who graded very differently than you.<br/><br/>

          <em>Q:</em> Why do I only see 8-10 mugs arranged on the table?<br/>
          <em>A:</em> To avoid overcrowding, we display only a few mugs at a time for grading.
          The selection of which participants’ mugs to display is random but biased toward newer mugs, those that have received fewer ratings.
          Specifically, the likelihood of displaying a mug is based on its standard error = stdev / sqrt(k) where k is the number of times it has been graded so far, and stdev is the variance of those grades. Over time, this ensures that the confidence, or error-bar on the estimated grade for each mug, tends to be the same length for all mugs. Each time you finish grading a set of mugs, the table will be refreshed with more mugs.<br/><br/>
      </div>
  </div>

  <div class='dialog-help-map2 dialog-style' style="z-index:999">
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">Help</div>
          You can continue grading more mugs and whenever you’re ready, just click on your mug (with the blue coaster) to leave a idea of your own.<br/><br/>

          <em>Q:</em> Why is my mug located at this position on the table?<br/>
          <em>A:</em> The placement of each participant's mug is based on how he or she graded the first 5 questions.
          Think of each issue as one dimension of a 6-dimensional space.
          The grades you assign define a point in this space. We use dimensionality reduction (currently Principal Component Analysis) to project that space onto the table.
          If you and another participant assigned very similar grades, your mugs will be close together.
          Mugs that are distant from yours belong to participants who graded very differently than you.
      </div>
  </div>

  <div class='dialog-help-map3 dialog-style' style="z-index:999">
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">Help</div>
          You can either log out now and return anytime using the unique link we emailed you.
          Or you are welcome to continue grading participants’ ideas.
      </div>
  </div>


  <div class='dialog-help-comment dialog-style' style="z-index:999">
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">Help</div>
          Please propose a specific way in which this course be enhanced to make it more valuable for you.  Click Save when you’re done.
      </div>
  </div>

  <div class='dialog-help-rate dialog-style' style="z-index:999">
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">Help</div>
          <em>Q:</em> How do I grade a suggestion?<br/>
          <em>A:</em> After clicking a mug, that participant’s suggestion is displayed.
          You can skip to another one or mark this suggestion as irrelevant or inaccurate
          (click again to undo).  Otherwise, drag the two slider handles to assign grades.<br/><br/>
      </div>
  </div>

  <div class='dialog-help-continue dialog-style' style="z-index:999">
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">Help</div>
          <em>Q:</em> Why should I enter my email address?<br/>
          <em>A:</em> So we can send you a unique link to see the grades your suggested issue receives.
      </div>
  </div>

  <div class='dialog-help-logout dialog-style' style="z-index:999">
      <div class="home-btn-dialog-box">
          <img width="30px;" class='back-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_back_bttn.png">
          &nbsp;
          <img width="30px;" class='home-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_home_bttn.png">
          &nbsp;
          <img width="30px;" class='help-btn-dialog' src="{{url_root}}/media/mobile/img/cafe/CRC_help_bttn.png">
      </div>
      <div class='dialog-text-style-noflow small-left-padding'>
          <div class="basic-header">Help</div>
          To learn more about this project, its history, related projects, and the team that built it, visit <a href="http://opinion.berkeley.edu/" target="_blank" style="color: #4e300f;">opinion.berkeley.edu</a>.
      </div>
  </div>

<!--
<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34341740-14', 'citizenreportcard.org');
  ga('send', 'pageview');


</script>
-->

</body>
</html>
